# Ignore all sub-folders representing configurations for apps.
*/*

# Ignore non template configuration files.
# https://stackoverflow.com/questions/2820255/how-do-negated-patterns-work-in-gitignore
*.yml
!*template*.yml
